### USDA Data Exploration

The CensusTract data concatenate the FIPS code for:
* State (2 digits including leading 0)
* County (3 digits)
* Tract (6 digits)

### 2010 Dataset

In [1]:
import pandas as pd
food_desert_2010 = pd.read_excel("FoodAccessResearchAtlasData2010.xlsx", sheet_name = 'Food Access Research Atlas')
food_desert_2010['CensusTract'] = food_desert_2010['CensusTract'].astype(str).apply(lambda x: x.zfill(11))
food_desert_2010.head()

,CensusTract,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,LA1and10,...,lapop20,lapop20share,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lahunv20,lahunv20share
0,01001020100,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001020200,AL,Autauga,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001020300,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001020400,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001020500,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
fd_2010_cleaned = food_desert_2010.iloc[:,:9]

In [3]:
fd_2010_cleaned.columns

Index(['CensusTract', 'State', 'County', 'LILATracts_1And10',
       'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle',
       'Urban', 'Rural'],
      dtype='object')

In [5]:
fd_2010_cleaned.columns[[4,5,6,8]]

Index(['LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle',
       'Rural'],
      dtype='object')

In [6]:
fd_2010_cleaned.drop(columns = fd_2010_cleaned.columns[[4,5,6,8]], inplace = True)

In [7]:
fd_2010_cleaned.head()

   CensusTract State   County  LILATracts_1And10  Urban
0  01001020100    AL  Autauga                  0      1
1  01001020200    AL  Autauga                  0      1
2  01001020300    AL  Autauga                  0      1
3  01001020400    AL  Autauga                  0      1
4  01001020500    AL  Autauga                  0      1

In [8]:
fd_2010_cleaned.to_csv("fd_2010_cleaned.csv")