In [26]:
import pandas as pd 
import numpy as np

In [32]:
df = pd.read_csv("census_2010.csv")
df.drop(columns =["Unnamed: 0"], inplace = True)

In [33]:
df.set_index('CensusTract', inplace = True)
df.head()

,P001001,P001002,P001003,P001004,P001005,P001006,P001007,P001008,P001009,H003001,...,H013007,H013008,DP03_0002PE,DP03_0003PE,DP03_0004PE,DP03_0005PE,DP03_0006PE,DP03_0088E,DP03_0119PE,DP02_0006PE
CensusTract,,,,,,,,,,,,,,,,,,,,,
1001020100,1912,1881,1622,217,14,14,0,14,31,752,...,28,10,69.8,68.3,65.7,2.6,1.5,35830,5.0,4.6
1001020200,2170,2142,888,1217,5,5,0,27,28,822,...,16,10,59.2,56.6,52.2,4.5,2.6,18520,10.7,2.1
1001020300,3373,3291,2576,647,11,17,5,35,82,1326,...,26,12,62.8,61.5,57.9,3.5,1.3,20319,4.5,4.1
1001020400,4386,4334,4086,193,11,18,4,22,52,1823,...,29,20,61.4,60.0,57.3,2.7,1.4,25375,4.9,3.5
1001020500,10766,10546,8666,1437,48,296,9,90,220,4308,...,77,22,72.4,68.5,65.9,2.5,3.9,28102,3.9,5.1

In [34]:
df.describe()

,P001001,P001002,P001003,P001004,P001005,P001006,P001007,P001008,P001009,H003001,...,H013007,H013008,DP03_0002PE,DP03_0003PE,DP03_0004PE,DP03_0005PE,DP03_0006PE,DP03_0088E,DP03_0119PE,DP02_0006PE
count,73057.000000,73057.000000,73057.000000,73057.000000,73057.000000,73057.000000,73057.000000,73057.000000,73057.000000,73057.000000,...,73057.000000,73057.000000,7.305700e+04,7.305700e+04,7.305700e+04,7.305700e+04,7.305700e+04,7.305700e+04,7.305700e+04,7.305700e+04
mean,4226.091107,4102.775436,3059.984190,532.862272,40.136441,200.860315,7.391667,261.540551,123.315671,1802.766744,...,42.086302,31.101660,-6.196011e+06,-6.196012e+06,-6.196017e+06,-6.196070e+06,-6.196075e+06,-6.798776e+06,-8.212754e+06,-7.573990e+06
std,1981.883959,1921.948257,1808.837201,887.057404,180.797285,434.633481,45.026804,462.887046,124.464046,836.875357,...,33.386067,37.928745,6.397173e+07,6.397173e+07,6.397173e+07,6.397172e+07,6.397172e+07,6.859358e+07,7.353776e+07,7.065432e+07
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-1.000000e+09,-6.666667e+08,-6.666667e+08
25%,2874.000000,2790.000000,1822.000000,41.000000,7.000000,17.000000,0.000000,22.000000,51.000000,1247.000000,...,20.000000,10.000000,5.910000e+01,5.870000e+01,5.290000e+01,3.000000e+00,0.000000e+00,1.834500e+04,3.300000e+00,2.200000e+00
50%,3995.000000,3880.000000,2898.000000,157.000000,15.000000,57.000000,1.000000,74.000000,93.000000,1706.000000,...,34.000000,19.000000,6.560000e+01,6.520000e+01,6.000000e+01,4.600000e+00,0.000000e+00,2.401100e+04,7.900000e+00,4.000000e+00
75%,5319.000000,5162.000000,4107.000000,603.000000,33.000000,187.000000,4.000000,267.000000,162.000000,2259.000000,...,54.000000,36.000000,7.120000e+01,7.080000e+01,6.610000e+01,6.700000e+00,0.000000e+00,3.203000e+04,1.550000e+01,6.300000e+00
max,37452.000000,35221.000000,28983.000000,16804.000000,9009.000000,10485.000000,3491.000000,8437.000000,4378.000000,21535.000000,...,552.000000,850.000000,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,2.936100e+05,1.000000e+02,1.000000e+02

In [39]:
# replacing encoded values as nan and dropping the row
df.replace([-666666666,-999999999,-88888888], np.nan, inplace = True)
df.dropna(inplace  = True)

In [40]:
df.columns

Index(['P001001', 'P001002', 'P001003', 'P001004', 'P001005', 'P001006',
       'P001007', 'P001008', 'P001009', 'H003001', 'H003002', 'H003003',
       'H004001', 'H004002', 'H004003', 'H004004', 'H013001', 'H013002',
       'H013003', 'H013004', 'H013005', 'H013006', 'H013007', 'H013008',
       'DP03_0002PE', 'DP03_0003PE', 'DP03_0004PE', 'DP03_0005PE',
       'DP03_0006PE', 'DP03_0088E', 'DP03_0119PE', 'DP02_0006PE'],
      dtype='object')

### Computing the Percentage

In [42]:
# compute the share of population by ethnic group
for x in ['P001002', 'P001003', 'P001004', 'P001005', 'P001006', 'P001007','P001008', 'P001009']:
    df[x+"PE"] = df[x]/df['P001001']*100
    df.drop(columns =x, inplace = True)

In [46]:
#compute Unemloyment Rate
df['DP03_UNEMPLOY'] = df['DP03_0005PE'] / df['DP03_0002PE'] *100

In [47]:
# compute percentage tenure type
for x in ['H004002', 'H004003', 'H004004']:
    df[x+"PE"] = df[x]/df['H004001'] *100
    df.drop(columns =x, inplace = True)

In [48]:
df.columns

Index(['P001001', 'H003001', 'H003002', 'H003003', 'H004001', 'H013001',
       'H013002', 'H013003', 'H013004', 'H013005', 'H013006', 'H013007',
       'H013008', 'DP03_0002PE', 'DP03_0003PE', 'DP03_0004PE', 'DP03_0005PE',
       'DP03_0006PE', 'DP03_0088E', 'DP03_0119PE', 'DP02_0006PE', 'P001002PE',
       'P001003PE', 'P001004PE', 'P001005PE', 'P001006PE', 'P001007PE',
       'P001008PE', 'P001009PE', 'DP03_UNEMPLOY', 'H004002PE', 'H004003PE',
       'H004004PE'],
      dtype='object')

### Dropping columns to avoid multicollinearity

In [49]:
cols = ['DP03_0002PE',
        'DP03_0003PE',
        'DP03_0004PE',
        'DP03_0005PE',
        'H003001',
        'H003002',
        'H003003',
        'H004001',
        'H013001',
        'H013002',
        'H013003',
        'H013004',
        'H013005',
        'H013006',
        'H013007',
        'H013008',
        'P001001',
        'P001002PE']
df.drop(columns = cols, inplace = True)

In [50]:
df.columns

Index(['DP03_0006PE', 'DP03_0088E', 'DP03_0119PE', 'DP02_0006PE', 'P001003PE',
       'P001004PE', 'P001005PE', 'P001006PE', 'P001007PE', 'P001008PE',
       'P001009PE', 'DP03_UNEMPLOY', 'H004002PE', 'H004003PE', 'H004004PE'],
      dtype='object')

### Check rows with 1 or more NaN value

In [52]:
# inspecting rows with null data
df[df.isna().sum(axis = 1) > 0]

,DP03_0006PE,DP03_0088E,DP03_0119PE,DP02_0006PE,P001003PE,P001004PE,P001005PE,P001006PE,P001007PE,P001008PE,P001009PE,DP03_UNEMPLOY,H004002PE,H004003PE,H004004PE
CensusTract,,,,,,,,,,,,,,,
13121003700,0.0,3446.0,97.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.543568,NaN,NaN,NaN
25025990101,0.0,10115.0,54.3,14.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.730942,NaN,NaN,NaN
26083980100,0.0,84856.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
26099982100,0.0,34816.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
27123040802,0.0,4797.0,0.0,0.0,94.825647,1.237345,0.224972,1.518560,0.000000,0.281215,1.912261,11.490683,NaN,NaN,NaN
32031980000,0.0,12170.0,0.0,0.0,77.880184,5.990783,3.225806,1.382488,0.460829,10.599078,0.460829,NaN,0.0,40.0,60.0
36005031900,0.0,4395.0,0.0,0.0,68.708389,11.584554,0.399467,7.190413,0.000000,8.921438,3.195739,1.972387,NaN,NaN,NaN
36061009400,0.0,14988.0,0.0,0.0,79.452055,2.739726,0.000000,15.068493,0.000000,2.739726,0.000000,NaN,10.0,0.0,90.0
39165031700,0.0,5925.0,100.0,0.0,44.962474,54.628156,0.090971,0.022743,0.000000,0.159199,0.136457,NaN,0.0,0.0,100.0
42101980600,0.0,48095.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
48027980001,95.1,22721.0,0.0,52.4,71.786834,16.927900,1.253918,2.507837,0.626959,3.448276,3.448276,0.000000,NaN,NaN,NaN

In [53]:
# dropping the rows with null value
drop = df[df.isna().sum(axis = 1) > 0].index
df.drop(index = drop,inplace = True)

In [54]:
df.shape

(72121, 15)

In [55]:
# export data
df.to_csv("census_2010_cleaned.csv")

In [57]:
df.tail()

,DP03_0006PE,DP03_0088E,DP03_0119PE,DP02_0006PE,P001003PE,P001004PE,P001005PE,P001006PE,P001007PE,P001008PE,P001009PE,DP03_UNEMPLOY,H004002PE,H004003PE,H004004PE
CensusTract,,,,,,,,,,,,,,,
56043000200,0.0,31286.0,1.0,2.2,93.385448,0.180397,0.811786,0.450992,0.000000,3.006615,2.164762,4.526167,41.002278,33.333333,25.664389
56043000301,0.0,23938.0,1.5,7.8,89.193246,0.187617,1.500938,0.863039,0.000000,5.440901,2.814259,5.705706,47.573657,21.837088,30.589255
56043000302,0.0,30673.0,3.2,4.9,90.952006,0.432730,1.022817,0.393391,0.039339,5.035405,2.124312,2.476780,40.940255,35.455436,23.604310
56045951100,0.0,30427.0,4.0,3.1,95.926373,0.452625,1.418226,0.301750,0.030175,0.754375,1.116476,3.559871,43.343419,42.133132,14.523449
56045951300,0.0,27060.0,7.0,0.9,95.172060,0.154083,1.129944,0.256805,0.051361,1.078582,2.157165,1.453488,38.375515,33.372572,28.251913