### Importing US Census Data
#### Decennial Census

metadata analysis: https://docs.google.com/document/d/1PrF8o_5CjZG_cbx1igMaPInB6JnylcUyK21G_oaU1I8/edit

PL data from 2020 contains data on the race
See variable list: https://api.census.gov/data/2020/dec/pl.html

Summary File 1 (2010) contains household data, occupancy rate, population
See variable list: https://api.census.gov/data/2010/dec/sf1/variables.html

Summary File 2 (2010) contains household data, occupancy rate, population
See variable list: https://api.census.gov/data/2010/dec/sf2/variables.html

### American Community Survey
Datasets:
* Profile: contain employment data group(DP03) https://api.census.gov/data/2019/acs/acs5/profile/variables.html
* Subject: 
* Detailed Tables contain income (D19001_001E) https://api.census.gov/data/2019/acs/acs1/variables.html
   


### Other data of interest 
* Social Vulnerability Data: https://www.atsdr.cdc.gov/placeandhealth/svi/data_documentation_download.html \
* PLACE https://chronicdata.cdc.gov/browse?category=500+Cities+%26+Places&sortBy=newest&utf8

*VPN maybe necessary to import the data
*States FIPS code: see https://www.census.gov/library/reference/code-lists/ansi.html
    03,07,14,43,52 are not valid FIPS code

In [1]:
import requests
import pandas as pd

### Base Code

In [2]:
# note that wildcard cannot be used for "state" 
## r = requests.get("https://api.census.gov/data/2020/dec/pl?get=group(H1)&for=tract:*&in=state:06&in=county:*")

# Print the returned result
##response = r.json()

### User define function

In [2]:
def census_request(n = 57,query = "NAME",table = "",year = "2020"):
    '''return a Pandas Dataframe of the given query over the state codes up to n.'''

    # api request
    df = []
    api_request = ["https://api.census.gov/data/{year}/{table}?get={query}&for=tract:*&in=state:{:0>2d}&in=county:*".format(x,query = query,table = table,year = year) for x in range(1,n)]
    for link in api_request:
        try:   
            r = requests.get(link)
            response = r.json()
            df.extend(response[1:])
            print("retrieved {}".format(link.split(':')[3][0:2]))
        except:
            print("FAILED {}".format(link.split(':')[3][0:2]))

    # extract column name
    columns = response[0]

    # contrust Pandas DataFrame
    df = pd.DataFrame(df,columns = columns)
    df.dropna(axis = 'columns',thresh = len(df.index), inplace = True)
    
    df['CensusTract'] = df['state'] + df['county'] + df['tract']  
    df.drop(columns= ['state','county','tract'], inplace = True)

    try:
        df.drop(columns= ['GEO_ID'], inplace = True)
    except:
        pass
    
    
    import numpy as np
    df.replace("(X)",np.nan,inplace = True)
    df.replace("-888888888",np.nan,inplace = True)
    df.dropna(axis = "columns",inplace  = True)

    return df

### Demographic Data - Race

column P1_002N adds with P1_009N to P1_001N

In [4]:
# Population by race
query = ",".join(["P00100"+str(x) for x in range(1,10) ])
P1 = census_request(query = query,table ="dec/pl", year ="2010")

retrieved 01
retrieved 02
FAILED 03
retrieved 04
retrieved 05
retrieved 06
FAILED 07
retrieved 08
retrieved 09
retrieved 10
retrieved 11
retrieved 12
retrieved 13
FAILED 14
retrieved 15
retrieved 16
retrieved 17
retrieved 18
retrieved 19
retrieved 20
retrieved 21
retrieved 22
retrieved 23
retrieved 24
retrieved 25
retrieved 26
retrieved 27
retrieved 28
retrieved 29
retrieved 30
retrieved 31
retrieved 32
retrieved 33
retrieved 34
retrieved 35
retrieved 36
retrieved 37
retrieved 38
retrieved 39
retrieved 40
retrieved 41
retrieved 42
FAILED 43
retrieved 44
retrieved 45
retrieved 46
retrieved 47
retrieved 48
retrieved 49
retrieved 50
retrieved 51
FAILED 52
retrieved 53
retrieved 54
retrieved 55
retrieved 56

In [5]:
# Occupany Status
H3 = census_request(query = "group(H3)",table = 'dec/sf1',year = "2010")

retrieved 01
retrieved 02
FAILED 03
retrieved 04
retrieved 05
retrieved 06
FAILED 07
retrieved 08
retrieved 09
retrieved 10
retrieved 11
retrieved 12
retrieved 13
FAILED 14
retrieved 15
retrieved 16
retrieved 17
retrieved 18
retrieved 19
retrieved 20
retrieved 21
retrieved 22
retrieved 23
retrieved 24
retrieved 25
retrieved 26
retrieved 27
retrieved 28
retrieved 29
retrieved 30
retrieved 31
retrieved 32
retrieved 33
retrieved 34
retrieved 35
retrieved 36
retrieved 37
retrieved 38
retrieved 39
retrieved 40
retrieved 41
retrieved 42
FAILED 43
retrieved 44
retrieved 45
retrieved 46
retrieved 47
retrieved 48
retrieved 49
retrieved 50
retrieved 51
FAILED 52
retrieved 53
retrieved 54
retrieved 55
retrieved 56

In [6]:
# Tenure
H4 = census_request(query = "group(H4)",table = 'dec/sf1',year = "2010")

retrieved 01
retrieved 02
FAILED 03
retrieved 04
retrieved 05
retrieved 06
FAILED 07
retrieved 08
retrieved 09
retrieved 10
retrieved 11
retrieved 12
retrieved 13
FAILED 14
retrieved 15
retrieved 16
retrieved 17
retrieved 18
retrieved 19
retrieved 20
retrieved 21
retrieved 22
retrieved 23
retrieved 24
retrieved 25
retrieved 26
retrieved 27
retrieved 28
retrieved 29
retrieved 30
retrieved 31
retrieved 32
retrieved 33
retrieved 34
retrieved 35
retrieved 36
retrieved 37
retrieved 38
retrieved 39
retrieved 40
retrieved 41
retrieved 42
FAILED 43
retrieved 44
retrieved 45
retrieved 46
retrieved 47
retrieved 48
retrieved 49
retrieved 50
retrieved 51
FAILED 52
retrieved 53
retrieved 54
retrieved 55
retrieved 56

In [7]:
# Number of Household by Houshold size
H13 = census_request(query = "group(H13)",table = 'dec/sf1',year = "2010")

retrieved 01
retrieved 02
FAILED 03
retrieved 04
retrieved 05
retrieved 06
FAILED 07
retrieved 08
retrieved 09
retrieved 10
retrieved 11
retrieved 12
retrieved 13
FAILED 14
retrieved 15
retrieved 16
retrieved 17
retrieved 18
retrieved 19
retrieved 20
retrieved 21
retrieved 22
retrieved 23
retrieved 24
retrieved 25
retrieved 26
retrieved 27
retrieved 28
retrieved 29
retrieved 30
retrieved 31
retrieved 32
retrieved 33
retrieved 34
retrieved 35
retrieved 36
retrieved 37
retrieved 38
retrieved 39
retrieved 40
retrieved 41
retrieved 42
FAILED 43
retrieved 44
retrieved 45
retrieved 46
retrieved 47
retrieved 48
retrieved 49
retrieved 50
retrieved 51
FAILED 52
retrieved 53
retrieved 54
retrieved 55
retrieved 56

In [8]:
DP02 = census_request(query = "DP02_0006PE",table = 'acs/acs5/profile',year = "2010")

retrieved 01
retrieved 02
FAILED 03
retrieved 04
retrieved 05
retrieved 06
FAILED 07
retrieved 08
retrieved 09
retrieved 10
retrieved 11
retrieved 12
retrieved 13
FAILED 14
retrieved 15
retrieved 16
retrieved 17
retrieved 18
retrieved 19
retrieved 20
retrieved 21
retrieved 22
retrieved 23
retrieved 24
retrieved 25
retrieved 26
retrieved 27
retrieved 28
retrieved 29
retrieved 30
retrieved 31
retrieved 32
retrieved 33
retrieved 34
retrieved 35
retrieved 36
retrieved 37
retrieved 38
retrieved 39
retrieved 40
retrieved 41
retrieved 42
FAILED 43
retrieved 44
retrieved 45
retrieved 46
retrieved 47
retrieved 48
retrieved 49
retrieved 50
retrieved 51
FAILED 52
retrieved 53
retrieved 54
retrieved 55
retrieved 56

In [9]:
# Employment Status, population by income and benefit
query = ["DP03_000"+str(x)+"PE" for x in range(2,7)]
query.extend(['DP03_0088E','DP03_0119PE'])
query = ",".join(query)
DP03 = census_request(query = query,table = 'acs/acs5/profile',year = "2010")

retrieved 01
retrieved 02
FAILED 03
retrieved 04
retrieved 05
retrieved 06
FAILED 07
retrieved 08
retrieved 09
retrieved 10
retrieved 11
retrieved 12
retrieved 13
FAILED 14
retrieved 15
retrieved 16
retrieved 17
retrieved 18
retrieved 19
retrieved 20
retrieved 21
retrieved 22
retrieved 23
retrieved 24
retrieved 25
retrieved 26
retrieved 27
retrieved 28
retrieved 29
retrieved 30
retrieved 31
retrieved 32
retrieved 33
retrieved 34
retrieved 35
retrieved 36
retrieved 37
retrieved 38
retrieved 39
retrieved 40
retrieved 41
retrieved 42
FAILED 43
retrieved 44
retrieved 45
retrieved 46
retrieved 47
retrieved 48
retrieved 49
retrieved 50
retrieved 51
FAILED 52
retrieved 53
retrieved 54
retrieved 55
retrieved 56

### Joining DFs

In [10]:
df = pd.merge(P1,H3, on = 'CensusTract')
df = pd.merge(df,H4, on = 'CensusTract')
df = pd.merge(df,H13, on = 'CensusTract')
df = pd.merge(df,DP03, on = 'CensusTract')
df = pd.merge(df,DP02, on = 'CensusTract')

In [11]:
import numpy as np
df.replace("(X)",np.nan,inplace = True)
df.replace("-888888888",np.nan,inplace = True)
df.dropna(axis = "columns",inplace  = True)
columns = ['NAME_x','NAME_y','NAME']
df.drop(columns = columns, inplace = True)
df.head()

,P001001,P001002,P001003,P001004,P001005,P001006,P001007,P001008,P001009,CensusTract,...,H013007,H013008,DP03_0002PE,DP03_0003PE,DP03_0004PE,DP03_0005PE,DP03_0006PE,DP03_0088E,DP03_0119PE,DP02_0006PE
0,1912,1881,1622,217,14,14,0,14,31,01001020100,...,28,10,69.8,68.3,65.7,2.6,1.5,35830,5.0,4.6
1,2170,2142,888,1217,5,5,0,27,28,01001020200,...,16,10,59.2,56.6,52.2,4.5,2.6,18520,10.7,2.1
2,3373,3291,2576,647,11,17,5,35,82,01001020300,...,26,12,62.8,61.5,57.9,3.5,1.3,20319,4.5,4.1
3,4386,4334,4086,193,11,18,4,22,52,01001020400,...,29,20,61.4,60.0,57.3,2.7,1.4,25375,4.9,3.5
4,10766,10546,8666,1437,48,296,9,90,220,01001020500,...,77,22,72.4,68.5,65.9,2.5,3.9,28102,3.9,5.1

In [12]:
df.shape

(73057, 33)

In [13]:
df.to_csv("census_2010.csv")