In [1]:
import pandas as pd 
import numpy as np

### Importing the dataframe

In [2]:
fd_2010_cleaned = pd.read_csv("fd_2010_cleaned.csv")
fd_2010_cleaned.drop(columns = ['Unnamed: 0'], inplace = True)

In [3]:
fd_2010_cleaned.head()

   CensusTract State   County  LILATracts_1And10  Urban
0   1001020100    AL  Autauga                  0      1
1   1001020200    AL  Autauga                  0      1
2   1001020300    AL  Autauga                  0      1
3   1001020400    AL  Autauga                  0      1
4   1001020500    AL  Autauga                  0      1

Padding the CensusTract to form a 11 digit unique code for merging

In [4]:
fd_2010_cleaned['CensusTract'] = fd_2010_cleaned['CensusTract'].astype('str')
fd_2010_cleaned['CensusTract'] = fd_2010_cleaned['CensusTract'].apply(lambda x: x.zfill(11))

In [5]:
census_2010_cleaned = pd.read_csv("census_2010_cleaned.csv")
census_2010_cleaned['CensusTract'] = census_2010_cleaned['CensusTract'].astype('str')
census_2010_cleaned['CensusTract'] = census_2010_cleaned['CensusTract'].apply(lambda x: x.zfill(11))

In [6]:
df = pd.merge(fd_2010_cleaned, census_2010_cleaned, on = 'CensusTract')

# Preprocessing

In [7]:
# dropping the state of Alaska and Hawaii
df.drop(df.index[df['State'] == 'AK'], inplace = True)
df.drop(df.index[df['State'] == 'HI'], inplace = True)

In [8]:
df.describe()

,LILATracts_1And10,Urban,DP03_0006PE,DP03_0088E,DP03_0119PE,DP02_0006PE,P001003PE,P001004PE,P001005PE,P001006PE,P001007PE,P001008PE,P001009PE,DP03_UNEMPLOY,H004002PE,H004003PE,H004004PE
count,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000,71642.000000
mean,0.123782,0.760825,0.421570,27252.921387,11.411410,4.711021,72.139196,13.857104,0.984111,4.254628,0.119373,5.868981,2.776607,8.393397,44.224278,20.248766,35.526956
std,0.329335,0.426583,3.171663,14143.967969,11.202438,3.475268,25.521775,22.304395,4.521132,7.990925,0.339535,9.029686,1.729836,5.540972,17.889980,11.555286,22.328823
min,0.000000,0.000000,0.000000,762.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,18551.000000,3.500000,2.300000,58.838783,1.111534,0.193991,0.478022,0.000000,0.641774,1.451397,4.755292,32.375780,11.443805,17.948718
50%,0.000000,1.000000,0.000000,24119.000000,8.000000,4.100000,81.031764,4.011124,0.386828,1.462347,0.030618,1.908289,2.371689,7.190635,44.423114,19.079572,29.952780
75%,0.000000,1.000000,0.000000,32154.000000,15.700000,6.400000,92.242111,14.857792,0.765148,4.252563,0.104337,6.634196,3.759206,10.586319,56.895307,27.557879,49.294461
max,1.000000,1.000000,97.800000,293610.000000,100.000000,100.000000,100.000000,100.000000,99.337748,89.853726,14.657718,79.578359,50.000000,100.000000,100.000000,90.717703,100.000000

In [9]:
# rescale DP03_0088E
df['DP03_0088E'] = df['DP03_0088E'] / df['DP03_0088E'].mean()

In [10]:
df.to_csv('data.csv')